{% extends 'base.html' %}

{% block content %}
<div class="row">
    <div class="col-md-10">
    <h2>Products</h2>
    </div>
    <div class="col-md-5 offset-md-7">
        <form class="form-inline" method="get" action="{% url 'list' %}">
            <label for="inlineFormSelect"> Sort By </label>
              <select class="custom-select " id="inlineFormSelect" name="order_by">
                  {% for option, human_name in ordering_options %}
                      {% if option == order_by %}
                        <option selected>{{ human_name}}</option>
                      {% else %}
                        <option value="{{ option }}">{{human_name}}</option>
                      {% endif %}
                  {% endfor %}
              </select>
             <button type="submit" class="btn btn-primary">Submit</button>
        </form>
    </div>
</div>
    <div class="row">
    <div class="col-md-12">
    <table class="table table-hover">
    <tbody>
        {% for product in object_list %}
            <tr>
                <td>
                    <a href="{% url 'detail' product.slug %}">
                    {{ product.name }}
                    </a>
                </td>
                <td>
                    {{ product.vote_score}}
                </td>
                <td>
                    {{ product.description | truncatewords:7 }}
                </td>
                <td>
                    {{ product.price }}$
                </td>

            </tr>
        {% endfor %}
    </tbody>
    </table>
    </div>
    </div>
<div class="row">
    <div class="col-md-6">
        {% include "products/_paginator.html" %}

    </div>
</div>

{% endblock %}
